body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
}

header {
    background: #ff6b6b;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 20px;
    margin: 20px;

}

h1, h2 {
    color: #333;
}

.project {
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    position: relative;
    align-items: center;
    
}

form button:hover {
    background: #555;
    box-shadow: brown;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

footer {
    background: #ff6b6b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 5%;
}
.portfolio-image{
    border-radius: 50%;
    width: 20%;
    height: 10%;
    float: right;
    padding: right 1em;
}
.page-text{
    width:50%;
}
.portfolio-image-1{
    border-radius: 30%;
    width: 40%;
    float:right;
    padding:right;
}
.artworks{
    border-radius: 3%;
    width: 40%;
    height: auto;
    float:right;
    padding:right;
}
.images{
    display: inline-block;
    width: 20%;
    heighT: 10%;
}

